@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth scroll;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
}

.navbar {
    width: 100%;
}


#main-img {
    width: 100%;
    height: 100vh;
    opacity: 1;
    background-image: url('/public/img/main.jpg');
    background-size: cover;
    background-position: center;
    /* Centra la imagen */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
}

#wedding-date {
    position: absolute;
    height: 95%;
    width: 100%;
    top: 0;
    left: 0;
    gap: 30px;

}


/* #timer{
    position: absolute;
    top: 100px;
    left: 70%;
}
#timer p {
    font-weight: 600;
} */

.dark-text {
    color: #ffffff;
    letter-spacing: 10px;
}

.time {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 6px;
}


@screen sm {
    .time {
        font-size: 40px;
        font-weight: 400;
        letter-spacing: 6px;
    }
}

@screen md {
    .time {
        font-size: 60px;
        font-weight: 100;
        letter-spacing: 8px;
    }
}

@screen lg {
    .time {
        font-size: 80px;
        font-weight: 100;
    }
}


textarea {
    width: 100%;
}

main {
    width: 90%;
}

#roadmap {
    width: 100%;
}
.roadmap-group{
    height: 200px;
}
@screen sm{
    .roadmap-group{
        height: 250px;
    }
}
@screen md{
    .roadmap-group{
        height: 300px;
    }
}


.roadmap-img,
.roadmap-description {
    width: 50%;
}

.roadmap-description * {
    width: 50%;
}

.roadmap-img img {
    height: auto;
    width: 50%;
}
.roadmap-bar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
}
.rounded-img {
    border-radius: 150px;
}

.story-img {
    height: 300px;
    width: 70%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.story-text {
    width: 70%;
    text-align: center;
}

.gallery {
    width: 80%;
}

.gallery-image {
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.adults {
    width: 60%;
}

.adults-text {
    width: 100%;
    text-align: center;
}

@screen md {
    .adults-text {
        width: 60%;
        text-align: center;
    }
}




.form-asistencia {
    width: 70%;
}

#confirm {
    width: 100%;
}

@screen md {

    #nombre,
    #apellidos {
        width: 40%;
    }

}


.form-container {
    width: 100%;
}

.form-input {
    width: 100%;
}

.submit {
    width: 30%;
    height: 35px;
    border-radius: 0.375rem;
}


tr {
    width: 100%;
}

a {
    cursor: pointer;
}

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(0);
        opacity: 1;
    }

    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.slide-in {
    animation: slideIn 0.5s forwards;
}

.slide-out {
    animation: slideOut 0.5s forwards;
}

.toast {
    display: none;
}

.card {

    position: relative;
    transition: transform .6s;
    transform-style: preserve-3d;

}

.front-card {
    backface-visibility: hidden;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.back-card {
    position: absolute;
    top: 0;
    left: 90%;
    transform: rotateY(180deg);
    backface-visibility: hidden;

}

.song-name {
    padding: 0.5rem 0.75rem;
}
.not-playlist{
    cursor: pointer;
}
.in-playlist{
    background-color: rgb(175, 175, 175);
}
.in-playlist span{
    color: #bd2236cc;
}
.song-name:not(:last-child){
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
}
.border{
    border: 1px solid black;
    border-radius: 0.25rem;
}
.song-image{
    height: 30px;
    width: 30px;
}
.required::after {
    content: "(*)";
    color: rgb(230, 37, 37);
}
.not-playlist p:hover{
    color: blue;
}

.input-error{
    border: 2px solid red;
}
